.u-section-1 .u-sheet-1 {
  min-height: 807px;
}

.u-section-1 .u-image-1 {
  width: 473px;
  height: 266px;
  margin: 162px 364px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 219px;
  height: 219px;
  margin: -394px auto 0 169px;
}

.u-section-1 .u-image-3 {
  width: 304px;
  height: 297px;
  margin: -159px 0 0 auto;
}

.u-section-1 .u-image-4 {
  width: 169px;
  height: 169px;
  margin: -169px auto 0 0;
}

.u-section-1 .u-image-5 {
  width: 332px;
  height: 187px;
  margin: 54px auto 0 227px;
}

.u-section-1 .u-image-6 {
  width: 462px;
  height: 260px;
  margin: -151px 200px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -158px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1046px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 70px;
    margin-right: 260px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 36px;
    margin-right: 340px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -213px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -317px;
    margin-left: 164px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 202px;
    margin-right: 340px;
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    margin-top: -103px;
    margin-right: 55px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1103px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 104px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 44px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -502px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: 285px;
    margin-right: auto;
    margin-left: 193px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -35px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -132px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1298px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 83px;
  }

  .u-section-1 .u-image-2 {
    width: 198px;
    height: 185px;
    margin-top: 103px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 260px;
    height: 265px;
    margin-top: -245px;
  }

  .u-section-1 .u-image-4 {
    width: 136px;
    height: 136px;
    margin-top: -401px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 265px;
    margin-left: 103px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -15px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1431px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 170px;
    height: 156px;
    margin-top: 39px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 70px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -421px;
  }

  .u-section-1 .u-image-5 {
    width: 145px;
    height: 145px;
    margin-top: 305px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    width: 217px;
    height: 217px;
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 34px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 595px;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 50px auto 0 10px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 11px 384px 0 10px;
}

.u-section-2 .u-gallery-1 {
  height: 400px;
  grid-gap: 17px 17px;
  width: 40%;
  margin: 47px auto 0 88px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 17px 17px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-1 {
  transition-duration: 0.5s;
}

.u-section-2 .u-back-image-1 {
  left: -50px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-2 {
  transition-duration: 0.5s;
}

.u-section-2 .u-back-image-2 {
  left: -50px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-3 {
  transition-duration: 0.5s;
}

.u-section-2 .u-back-image-3 {
  left: -50px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-4 {
  transition-duration: 0.5s;
}

.u-section-2 .u-back-image-4 {
  left: -50px;
  object-position: 94.97% 50%;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-5 {
  transition-duration: 0.5s;
}

.u-section-2 .u-back-image-5 {
  left: -50px;
  object-position: 0% 50%;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-6 {
  transition-duration: 0.5s;
}

.u-section-2 .u-back-image-6 {
  left: -50px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-7 {
  transition-duration: 0.5s;
}

.u-section-2 .u-back-image-7 {
  left: -50px;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-8 {
  transition-duration: 0.5s;
}

.u-section-2 .u-back-image-8 {
  left: -50px;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-9 {
  transition-duration: 0.5s;
}

.u-section-2 .u-back-image-9 {
  left: -50px;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-10 {
  transition-duration: 0.5s;
}

.u-section-2 .u-back-image-10 {
  left: -50px;
}

.u-section-2 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-11 {
  transition-duration: 0.5s;
}

.u-section-2 .u-back-image-11 {
  left: -50px;
  object-position: 46.74% 50%;
}

.u-section-2 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-12 {
  transition-duration: 0.5s;
}

.u-section-2 .u-back-image-12 {
  left: -50px;
}

.u-section-2 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-gallery-2 {
  height: 400px;
  grid-gap: 17px 17px;
  width: 40%;
  margin: -400px 88px 0 auto;
}

.u-section-2 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-gallery-inner-2 {
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 17px 17px;
}

.u-section-2 .u-carousel-item-13 {
  margin-right: -1px;
  box-shadow: 0px 2px 8px 18px rgba(41,45,51,0.5);
  height: 552px;
  margin-left: -1px;
}

.u-section-2 .u-back-image-13 {
  right: -50px;
}

.u-section-2 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 30px;
}

.u-section-2 .u-carousel-item-14 {
  margin-right: 0;
  box-shadow: 0px 2px 8px 18px rgba(41,45,51,0.5);
}

.u-section-2 .u-back-image-14 {
  right: -50px;
}

.u-section-2 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 30px;
}

.u-section-2 .u-carousel-item-15 {
  margin-right: 0;
  box-shadow: 0px 2px 8px 18px rgba(41,45,51,0.5);
}

.u-section-2 .u-back-image-15 {
  right: -50px;
}

.u-section-2 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 30px;
}

.u-section-2 .u-carousel-item-16 {
  margin-right: 0;
  box-shadow: 0px 2px 8px 18px rgba(41,45,51,0.5);
}

.u-section-2 .u-back-image-16 {
  right: -50px;
}

.u-section-2 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 30px;
}

.u-section-2 .u-carousel-item-17 {
  margin-right: 0;
  box-shadow: 0px 2px 8px 18px rgba(41,45,51,0.5);
}

.u-section-2 .u-back-image-17 {
  right: -50px;
}

.u-section-2 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 30px;
}

.u-section-2 .u-carousel-item-18 {
  margin-right: 0;
  box-shadow: 0px 2px 8px 18px rgba(41,45,51,0.5);
}

.u-section-2 .u-back-image-18 {
  right: -50px;
}

.u-section-2 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 30px;
}

.u-section-2 .u-carousel-item-19 {
  margin-right: 0;
  box-shadow: 0px 2px 8px 18px rgba(41,45,51,0.5);
}

.u-section-2 .u-back-image-19 {
  right: -50px;
}

.u-section-2 .u-over-slide-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 30px;
}

.u-section-2 .u-carousel-item-20 {
  margin-right: 0;
  box-shadow: 0px 2px 8px 18px rgba(41,45,51,0.5);
}

.u-section-2 .u-back-image-20 {
  right: -50px;
}

.u-section-2 .u-over-slide-20 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 30px;
}

.u-section-2 .u-carousel-item-21 {
  margin-right: 0;
  box-shadow: 0px 2px 8px 18px rgba(41,45,51,0.5);
}

.u-section-2 .u-back-image-21 {
  right: -50px;
}

.u-section-2 .u-over-slide-21 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 30px;
}

.u-section-2 .u-carousel-item-22 {
  margin-right: 0;
  box-shadow: 0px 2px 8px 18px rgba(41,45,51,0.5);
}

.u-section-2 .u-back-image-22 {
  right: -50px;
}

.u-section-2 .u-over-slide-22 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 30px;
}

.u-section-2 .u-carousel-item-23 {
  margin-right: 0;
  box-shadow: 0px 2px 8px 18px rgba(41,45,51,0.5);
}

.u-section-2 .u-back-image-23 {
  right: -50px;
}

.u-section-2 .u-over-slide-23 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 30px;
}

.u-section-2 .u-carousel-item-24 {
  margin-right: 0;
  box-shadow: 0px 2px 8px 18px rgba(41,45,51,0.5);
}

.u-section-2 .u-back-image-24 {
  right: -50px;
}

.u-section-2 .u-over-slide-24 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 30px;
}

.u-section-2 .u-carousel-control-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 184px;
  }

  .u-section-2 .u-gallery-1 {
    height: 14px;
    margin-top: -376px;
    margin-left: 80px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(6, auto);
  }

  .u-section-2 .u-over-slide-1 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-2 .u-over-slide-2 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-2 .u-over-slide-3 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-2 .u-over-slide-4 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-2 .u-over-slide-5 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-2 .u-over-slide-6 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-2 .u-over-slide-7 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-2 .u-over-slide-8 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-2 .u-over-slide-9 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-2 .u-over-slide-10 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-2 .u-over-slide-11 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-2 .u-over-slide-12 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-2 .u-gallery-2 {
    height: 14px;
    margin-top: -189px;
    margin-right: 80px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-gallery-1 {
    height: 289px;
    width: 248px;
    margin-top: 28px;
    margin-left: auto;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-over-slide-1 {
    padding: 30px;
  }

  .u-section-2 .u-over-slide-2 {
    padding: 30px;
  }

  .u-section-2 .u-over-slide-3 {
    padding: 30px;
  }

  .u-section-2 .u-over-slide-4 {
    padding: 30px;
  }

  .u-section-2 .u-over-slide-5 {
    padding: 30px;
  }

  .u-section-2 .u-over-slide-6 {
    padding: 30px;
  }

  .u-section-2 .u-over-slide-7 {
    padding: 30px;
  }

  .u-section-2 .u-over-slide-8 {
    padding: 30px;
  }

  .u-section-2 .u-over-slide-9 {
    padding: 30px;
  }

  .u-section-2 .u-over-slide-10 {
    padding: 30px;
  }

  .u-section-2 .u-over-slide-11 {
    padding: 30px;
  }

  .u-section-2 .u-over-slide-12 {
    padding: 30px;
  }

  .u-section-2 .u-gallery-2 {
    height: 287px;
    width: 248px;
    margin-top: 61px;
    margin-right: auto;
  }

  .u-section-2 .u-carousel-item-13 {
    --effect-scale: 1.1;
  }

  .u-section-2 .u-back-image-13 {
    left: -50px;
  }

  .u-section-2 .u-carousel-item-14 {
    --effect-scale: 1.1;
  }

  .u-section-2 .u-back-image-14 {
    left: -50px;
  }

  .u-section-2 .u-carousel-item-15 {
    --effect-scale: 1.1;
  }

  .u-section-2 .u-back-image-15 {
    left: -50px;
  }

  .u-section-2 .u-carousel-item-16 {
    --effect-scale: 1.1;
  }

  .u-section-2 .u-back-image-16 {
    left: -50px;
  }

  .u-section-2 .u-carousel-item-17 {
    --effect-scale: 1.1;
  }

  .u-section-2 .u-back-image-17 {
    left: -50px;
  }

  .u-section-2 .u-carousel-item-18 {
    --effect-scale: 1.1;
  }

  .u-section-2 .u-back-image-18 {
    left: -50px;
  }

  .u-section-2 .u-carousel-item-19 {
    --effect-scale: 1.1;
  }

  .u-section-2 .u-back-image-19 {
    left: -50px;
  }

  .u-section-2 .u-carousel-item-20 {
    --effect-scale: 1.1;
  }

  .u-section-2 .u-back-image-20 {
    left: -50px;
  }

  .u-section-2 .u-carousel-item-21 {
    --effect-scale: 1.1;
  }

  .u-section-2 .u-back-image-21 {
    left: -50px;
  }

  .u-section-2 .u-carousel-item-22 {
    --effect-scale: 1.1;
  }

  .u-section-2 .u-back-image-22 {
    left: -50px;
  }

  .u-section-2 .u-carousel-item-23 {
    --effect-scale: 1.1;
  }

  .u-section-2 .u-back-image-23 {
    left: -50px;
  }

  .u-section-2 .u-carousel-item-24 {
    --effect-scale: 1.1;
  }

  .u-section-2 .u-back-image-24 {
    left: -50px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 584px;
}

.u-section-3 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 149px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 375px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-image-1 {
  width: 177px;
  height: 177px;
  margin: 0 auto;
}

.u-section-3 .u-accordion-1 {
  width: 188px;
  margin: 17px auto 0;
}

.u-section-3 .u-accordion-item-1 {
  font-size: 1.125rem;
}

.u-section-3 .u-accordion-link-1 {
  font-size: 1.25rem;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-3 .u-text-1 {
  line-height: 0.8;
  margin: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-image-2 {
  width: 177px;
  height: 177px;
  margin: 0 auto;
}

.u-section-3 .u-accordion-2 {
  width: 188px;
  margin: 17px auto 0;
}

.u-section-3 .u-accordion-item-2 {
  font-size: 1.125rem;
}

.u-section-3 .u-accordion-link-2 {
  font-size: 1rem;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-3 .u-text-2 {
  margin: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  width: 177px;
  height: 177px;
  margin: 0 auto;
}

.u-section-3 .u-accordion-3 {
  width: 188px;
  margin: 17px auto 0;
}

.u-section-3 .u-accordion-item-3 {
  font-size: 1.125rem;
}

.u-section-3 .u-accordion-link-3 {
  font-size: 1.25rem;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 308px;
  }

  .u-section-3 .u-accordion-item-1 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-accordion-item-2 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-accordion-item-3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 723px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 584px;
}

.u-section-4 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 149px;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 375px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-image-1 {
  width: 177px;
  height: 177px;
  margin: 0 auto;
}

.u-section-4 .u-accordion-1 {
  width: 188px;
  margin: 17px auto 0;
}

.u-section-4 .u-accordion-item-1 {
  font-size: 1.125rem;
}

.u-section-4 .u-accordion-link-1 {
  font-size: 1.25rem;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-4 .u-text-1 {
  line-height: 0.8;
  margin: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-image-2 {
  width: 177px;
  height: 177px;
  margin: 0 auto;
}

.u-section-4 .u-accordion-2 {
  width: 188px;
  margin: 17px auto 0;
}

.u-section-4 .u-accordion-item-2 {
  font-size: 1.125rem;
}

.u-section-4 .u-accordion-link-2 {
  font-size: 1rem;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-4 .u-text-2 {
  margin: 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px;
}

.u-section-4 .u-image-3 {
  width: 177px;
  height: 177px;
  margin: 0 auto;
}

.u-section-4 .u-accordion-3 {
  width: 188px;
  margin: 17px auto 0;
}

.u-section-4 .u-accordion-item-3 {
  font-size: 1.125rem;
}

.u-section-4 .u-accordion-link-3 {
  font-size: 1.25rem;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-4 .u-text-3 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 308px;
  }

  .u-section-4 .u-accordion-item-1 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-accordion-item-2 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-accordion-item-3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 723px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 584px;
}

.u-section-5 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 149px;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 375px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-image-1 {
  width: 177px;
  height: 177px;
  margin: 0 auto;
}

.u-section-5 .u-accordion-1 {
  width: 217px;
  margin: 17px 53px 0 83px;
}

.u-section-5 .u-accordion-item-1 {
  font-size: 1.25rem;
}

.u-section-5 .u-accordion-link-1 {
  font-size: 1.25rem;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-5 .u-text-1 {
  line-height: 0.8;
  margin: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-image-2 {
  width: 177px;
  height: 177px;
  margin: 0 auto;
}

.u-section-5 .u-accordion-2 {
  width: 217px;
  margin: 17px 53px 0 83px;
}

.u-section-5 .u-accordion-item-2 {
  font-size: 1.25rem;
}

.u-section-5 .u-accordion-link-2 {
  font-size: 1rem;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-5 .u-text-2 {
  margin: 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px;
}

.u-section-5 .u-image-3 {
  width: 177px;
  height: 177px;
  margin: 0 auto;
}

.u-section-5 .u-accordion-3 {
  width: 217px;
  margin: 17px 53px 0 83px;
}

.u-section-5 .u-accordion-item-3 {
  font-size: 1.25rem;
}

.u-section-5 .u-accordion-link-3 {
  font-size: 1.25rem;
}

.u-section-5 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 308px;
  }

  .u-section-5 .u-accordion-1 {
    width: 225px;
    margin-top: 0;
    margin-right: 15px;
    margin-left: 47px;
  }

  .u-section-5 .u-accordion-2 {
    width: 225px;
    margin-top: 0;
    margin-right: 15px;
    margin-left: 47px;
  }

  .u-section-5 .u-accordion-3 {
    width: 225px;
    margin-top: 0;
    margin-right: 15px;
    margin-left: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 723px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 577px;
}

.u-section-6 .u-image-1 {
  width: 405px;
  height: 210px;
  margin: 28px auto 0 351px;
}

.u-section-6 .u-accordion-1 {
  width: 200px;
  margin: 25px auto 60px 453px;
}

.u-section-6 .u-accordion-link-1 {
  font-size: 1.25rem;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    height: 209px;
    margin-top: 31px;
    margin-left: auto;
  }

  .u-section-6 .u-accordion-1 {
    margin-top: 23px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 175px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 500px;
}